* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

.tp-container {
    background-color: white;
  
    width: 60%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    );
  
    border-radius: 15px;
    height: 70vh;
  }